<!--The content below is only a placeholder and can be replaced.-->
<header class="container-fluid header">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <a href="#" class="navbar-brand"><img src="../assets/Logo.png" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" #navbarResponsive>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link">Baş səhifə</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Özəlliklər</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Kart alma şərtləri</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Təlimat tasksitləndirmə</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Xəbərlər</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Bazarstore</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Kart sifarişi</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Əlaqə</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="offset-1 col-md-4 col-lg-4 col-xl-4 float-left superCard">
    <h3 id="superExtraCard">"Super Extra" kart</h3>
    <h5 id="superExtraCardDuis">Duis bibendum</h5>
    <p id="SuperExtraCardText">Cras maximus aliquet elit ut feugiat. Donec eget ante pharetra,</p>
    <button id="cardOrder">Kart sifariş ver</button>
  </div>

  <div class="col-md-4 col-lg-4 headerRight">
    <img src="../assets/cardRotate.png" alt="" id="cardRotate" >
    <img src="../assets/cardBlur.png" alt="" id="cardBlur">
  </div>
</header>

<div class="container-fluid">
  <div class="row text-center secondSection">
    <div class="col-12">
<h2 id="superCardHead">Super Kartın özəllikləri</h2>
    </div>

    <div class="col-lg-3 offset-1 texts col-sm-3 col-xs-12">
      <h6>Taksitləndirmə</h6>
      <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eura era aliquet lacinia cursus</p>
      <br>
      <h6>Bonuslar</h6>
      <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eura era aliquet lacinia cursus</p>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-12">
      <img src="../assets/secondSectCard.png" alt="" id="secondSectCard">
    </div>
    <div class="col-lg-3 texts2 col-sm-3 col-xs-12 ">
      <h6 >Endirimlər</h6>
      <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eura era aliquet lacinia cursus</p>
      <br>
      <h6>Alış-veriş</h6>
      <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eura era aliquet lacinia cursus</p>
    </div>
  </div>
</div>


<!--card receiving terms-->

<div class="container-fluid">
  <div class="row">
    <div class="cardReceiveTerms text-center">
        <h3>Kart alma şərtləri</h3>
        <img src="../assets/dots.png" alt="">
      <div class="receiveTexts">
        <div class="textsTop ">
          <div class="col-lg-4 col-md-4  float-left">
            <div >
            <button >1</button>
            </div>
            <div class=" titleText">
            <b>Title goes here</b>
            <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eu era.Aliquam dolor nisl, pretium </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 float-left">
            <div >
              <button >3</button>
            </div>
            <div class=" titleText">
              <b>Title goes here</b>
              <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eu era.Aliquam dolor nisl, pretium </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 float-left">
            <div >
              <button >5</button>
            </div>
            <div class=" titleText">
              <b>Title goes here</b>
              <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eu era.Aliquam dolor nisl, pretium </p>
            </div>
          </div>
        </div>
        <div class="textsBottom ">
          <div class="col-lg-4 col-md-4 float-left">
            <div >
              <button >2</button>
            </div>
            <div class=" titleText">
              <b>Title goes here</b>
              <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eu era.Aliquam dolor nisl, pretium </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 float-left">
            <div >
              <button >4</button>
            </div>
            <div class=" titleText">
              <b>Title goes here</b>
              <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eu era.Aliquam dolor nisl, pretium </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 float-left">
            <div >
              <button >6</button>
            </div>
            <div class=" titleText">
              <b>Title goes here</b>
              <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eu era.Aliquam dolor nisl, pretium </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!--telimat taksit-->

<div class="container-fluid padding">
  <div class="row welcome text-center requestSection">

    <div class="col-12">
      <br><br><br><br><br>
      <h3>Təlimatlı taksitləndirmə</h3>
    </div>
    <hr>
    <div class="col-10 offset-1 text-center">
      <p ><b>KREDİT ŞƏRTLƏRİ</b> xeyli rahatdır! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet architecto consectetur doloremque doloribus eius eveniet ex illo impedit,
        incidunt iste modi porro praesentium quae quam repellendus sunt tempora voluptate,
        incidunt iste modi porro praesentium quae quam repellendus sunt tempora voluptate.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12 col-lg-6">
      <img src="../assets/taksit.png" class="col-2 float-left">
      <p class="col-10 float-right lead"><span>“Təlimatlı taksitləndirmə” </span> məhsulu üzrə taksitləndirmə - bu taksitlendirme. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Qui possimus quia saepe, consectetur perspiciatis placeat! Molestiae nam illo velit
        tenetur nesciunt voluptatibus consequuntur exercitationem veritatis! Omnis ratione laboriosam nesciunt. Corrupti?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur delectus deserunt dolor expedita laudantium odit,
        quaerat quia,quis reprehenderit suscipit tempora temporibus? Consequatur dignissimos eligendi officia qui quod vel.</p>
      <br>
    </div>
    <div class="col-lg-6 col-md-12">
      <img src="../assets/extra.png" class="col-2 float-left">
      <p class="col-10 float-right lead"><span>“Ekstre böl” </span> məhsulu üzrə taksitləndirmə - bu taksitləndirmə. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Qui possimus quia saepe, consectetur perspiciatis placeat! Molestiae nam illo velit
        tenetur nesciunt voluptatibus consequuntur exercitationem veritatis! Omnis ratione laboriosam nesciunt. Corrupti?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur delectus deserunt dolor expedita laudantium odit,
        quaerat quia,quis reprehenderit suscipit tempora temporibus? Consequatur dignissimos eligendi officia qui quod vel.</p>
      <br>

    </div>

    <div class="col-12">
      <button class="doRequest">Müraciət et</button>
    </div>
  </div>
</div>
<br><br><br><br><br>

<!--news-->
<div class="container-fluid padding">
  <div class="row padding text-center news">
    <div class="col-12">
      <h3>Xəbərlər</h3>
    </div>
    <br><br><br>
    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1 newsBody float-left">

      <div class="col-3 float-left">
        <img src="../assets/news1.png" alt="" style="width: 130%">
      </div>
      <div class="col-9 float-right">
        <h6>The title goes here</h6>
        <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eu erat, iaculis ipmerdiet nisi</p>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 newsBody float-left">
      <div class="col-3 float-left">
        <img src="../assets/news2.png" alt="" style="width: 130%">
      </div>
      <div class="col-9 float-right">
        <h6>The title goes here</h6>
        <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eu erat, iaculis ipmerdiet nisi</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 newsBody float-left">
      <div class="col-3 float-left">
        <img src="../assets/news3.png" alt="" style="width: 130%">
      </div>
      <div class="col-9 float-right">
        <h6>The title goes here</h6>
        <p>Nunc aliquet lacinia cursus. Aliquam dolor nisl, pretium eu erat, iaculis ipmerdiet nisi</p>
      </div>
    </div>
    <br><br><br>
    <div class="arrows">
      <img src="../assets/arrowLeft.png" alt="">
      <img src="../assets/arrowRight.png" alt="">
    </div>
    </div>
  </div>
<br><br><br>

<!--stayUpdated-->
<div class="container-fluid padding">
  <div class="row padding text-center stayUpdated">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img src="../assets/microPhone.png" alt="" style="width:100%;margin-right: 20px;">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 updateText" >
      <h3>Yeniliklerden xeberdar ol!</h3>
      <p class="text-left">Nunc aliquet lacinia cursus.Aliquam dolor nisl, pretium eu era et iaculis,imperdiet nisi</p>
    </div>
    <div class="col-xs-6 col-sm-12 col-md-4 offset-1">
      <input type="text" placeholder="Email addressinizi daxil edin" id="email">
      <button id="updateButton">Abune ol</button>
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="row  text-center bazarStore">
    <div class="col-12">
      <h2>Bazarstore</h2>
    </div>
    <div class="col-md-12 col-lg-4">
      <h4>The title goes here</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis alias a esse sit nemo vel pro </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui possimus quia saepe, consectetur perspiciatis placeat! Molestiae nam illo velit tenetur nesciunt voluptatibus consequuntur exercitationem veritatis! Omnis ratione laboriosam nesciunt. Corrupti? </p>
      <img src="../assets/storeTree.png" alt="">
      <br>
    </div>
    <div class="col-lg-8 col-md-12">
      <img src="../assets/map.png" alt="" class="img-fluid">
      <div class="fillials">
        <div>Yeni Yasamal</div>
        <div>Əhmədli</div>
        <div>Q.Qarayev</div>
        <div>8.km</div>
        <div>Zığ şossesi</div>
        <div>Suraxanı</div>
      </div>
      <br><br><br><br>
      <!--<div class="selectedFillial">-->
      <!--<span>Yasamal rayonu, Talıblı 4 küç.</span>-->
      <!--</div>-->
    </div>
  </div>
</div>

<!--CardOrder-->
<div class="container-fluid padding">
  <div class="row  text-center cardOrder">
    <div class="col-12">
      <br><br>
      <h3>Kart sifarisi</h3>
      <br><br><br>
    </div>

    <div class="offset-2 col-8 text-center">
      <p class="lead">Welcome to my Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quasi quidem,  eveniet.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, amet atque consequuntur cum doloremque doloribus excepturi expedita explicabo in
        laudantium minus mollitia natus officia perferendis quos sint tempora vel </p>
    </div>

    <div class="col-12">
      <br><br><br><br> <br><br><br>
      <button id="orderButton">Sifaris et</button>
      <br><br><br><br>
    </div>
  </div>
</div>

<!--fillials-->

<div class="container-fluid ">
  <div class="row text-center ourFillials ">
    <div class="col-12">
      <h2>Filliallarimiz</h2>
    </div>
    <div class="fillials">
      <div>Baki-Dernegul</div>
      <div>Baki-Park Bulvar</div>
      <div>Baki - "Gozel ofis"</div>
      <div>Baki - "Bas ofis"</div>
      <div>Sumqayit</div>
      <div>Imisli</div>
      <div>Gence</div>
    </div>
    <div class="fillialAddress">
      <div class="container-fluid padding">
        <div class="row padding text-center">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <img src="../assets/phoneIcon.png" alt="">
            <p>+ (994 12) 493 49 49</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <img src="../assets/navIcon.png" alt="">
            <p>AZ1005 Bakı şəh.,Zərifə Əliyeva küç.3</p>
            <p>(Kukla Teatrı ilə üzbəüz.Fevvareler bagi)</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <img src="../assets/clockIcon.png" alt="">
            <p>İş vaxtı: I-V günlər, saat 09:00-17:30  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br>
<!-- footer -->
<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-3">
        <img src="../assets/Logo.png" alt="">

      </div>
      <div class="col-md-3">
        <p>Özəlliklər</p>
        <p>Kart alma şərtləri</p>
        <p>Təlimatlı taksitləndirmə</p>
        <p>Xəbərlər</p>
      </div>

      <div class="col-md-3">
        <p>Bazarstore</p>
        <p>Kart sifarişi</p>
        <p>Əlaqə</p>
        <p>FAQ</p>
        <p>Qaydalar</p>
      </div>
      <div class="col-md-3">
        <p>Bizi izləyin</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; ASB. All rights reserved</h5>
      </div>
    </div>
  </div>
</footer>
